/*
* default
*/
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: "proximaNova", helvetica Neue;
	font-weight: 600;
	-webkit-appearance: none;
	border-radius: 0;
}

html {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
	font-family: 'Noto Sans';
}

body {
	padding-top: 100px;
	font-family: 'Noto Sans';
}

a {
	text-decoration: none;
}

#logo {
	width: 100%;
}

/*
 *form-control
 **/
.form-control {
	border-radius: 0;
	box-shadow: none;
	border-color: #d2d6de;
}

.form-control:not(select) {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form-control:focus {
	border-color: #48cfc8;
	box-shadow: none;
}

/*
*btn btn-default
*
*/
.btn.btn-default {
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#fff));
	background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffffff', GradientType=0);
	background-repeat: repeat-x;
	border-color: #dbdbdb;
	border-color: #ccc;
}

.btn.btn-default:hover, .btn.btn-default:active {
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#fff));
	background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffffff', GradientType=0);
	background-repeat: repeat-x;
	border-color: #dbdbdb;
	border-color: #ccc;
	background-color: #f8f8f8;
	color: #222;
	background-position: 0px 30px;
}

.btn-default:focus, .btn-default:hover {
	background-color: #fff;
	background-position: 0 0px;
}

/*btn-line*/
.btn-line {
	background: #fff;
	border: 1px solid #48cfc8;
	width:100px;
}

/*btn-success*/
.btn-success {
	background: #48cfc8;
	border: 1px solid #f8f8f8;
}

.btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active,
	.btn.btn-success.active, .btn.btn-success:active:focus {
	background: #2aa09a;
	border: 1px solid #f8f8f8;
	color: #fff;
}

/*btn-mission*/
.btn-mission {
	background-color: #FF80AB;
	border: 1px solid #f8f8f8;
	color: #fff;
}

.btn.btn-mission:hover, .btn.btn-mission:focus, .btn.btn-mission:active,
	.btn.btn-mission.active, .btn.btn-mission:active:focus {
	background: #ff4d89;
	border: 1px solid #f8f8f8;
	color: #fff;
}

/*
*modal
**/
.modal-header {
	background-color: #48cfc8;
	color: white !important;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.modal-footer {
	background-color: #f9f9f9;
}
/*
* x_panel
*/
.x_panel {
	position: relative;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 20px;
	display: inline-block;
	background: #fff;
	border: 1.5px solid #ccc;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	opacity: 1;
	transition: all .2s ease;
}

.x_title {
	border-bottom: 2px solid #48cfc8;
	padding: 1px 5px 6px;
	margin-bottom: 10px;
}

.x_title_m {
	padding: 1px 5px 6px;
	margin: 15px 0 20px 0;
}

.x_title .filter {
	width: 40%;
	float: right;
}

.x_title h2 small {
	margin-left: 10px;
}

.x_title span {
	color: #777;
}

.x_title_m>span {
	margin-right: 5px;
}

.x_content {
	padding: 0 5px 6px;
	position: relative;
	width: 100%;
	float: left;
	clear: both;
	margin-top: 5px;
}

.x_content h4 {
	font-size: 16px;
	font-weight: 500;
}

.f_right {
	float: right;
}

.f_left {
	float: left;
}

/*
* navbar (sidebar)
*/
.navbar-default {
	background-color: #fff;
}

.navbar-default {
	background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#fff));
	background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffffffff', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x; */
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px
		rgba(255, 255, 255, .15); */
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px
		rgba(255, 255, 255, .15);
}

/*
* checkbox
*/
.checks {
	position: relative;
}

.checks input[type="checkbox"] { /* 실제 체크박스는 화면에서 숨김 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}

.checks input[type="checkbox"]+label {
	display: inline-block;
	position: relative;
	padding-left: 30px; /* 글자와 체크박스 사이의 간격을 변경 */
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.checks input[type="checkbox"]+label:before { /* 가짜 체크박스 */
	content: '';
	position: absolute;
	left: 0;
	top: -4px; /* 이 값을 변경해서 글자와의 정렬 */
	width: 21px; /* 체크박스의 너비를 지정 */
	height: 21px; /* 체크박스의 높이를 지정 */
	line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
	text-align: center;
	background: #fafafa;
	border: 1px solid #cacece;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05);
}

.checks input[type="checkbox"]+label:active:before, .checks input[type="checkbox"]:checked+label:active:before
	{
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px
		rgba(0, 0, 0, 0.1);
}

.checks input[type="checkbox"]:checked+label:before { /* 체크박스를 체크했을때 */
	content: '\2714'; /* 체크표시 유니코드 사용 */
	color: #99a1a7;
	text-shadow: 1px 1px #fff;
	background: #e9ecee;
	border-color: #adb8c0;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
		rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.checks.etrans input[type="checkbox"]+label {
	padding-left: 30px;
}

.checks.etrans input[type="checkbox"]+label:before {
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 0;
	opacity: .6;
	box-shadow: none;
	border-color: #6cc0e5;
	-webkit-transition: all .12s, border-color .08s;
	transition: all .12s, border-color .08s;
}

.checks.etrans input[type="checkbox"]:checked+label:before {
	position: absolute;
	content: "";
	width: 10px;
	top: -5px;
	left: 5px;
	border-radius: 0;
	opacity: 1;
	background: transparent;
	border-color: transparent #6cc0e5 #6cc0e5 transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.no-csstransforms .checks.etrans input[type="checkbox"]:checked+label:before
	{
	/*content:"\2713";*/
	content: "\2714";
	top: 0;
	left: 0;
	width: 21px;
	line-height: 21px;
	color: #6cc0e5;
	text-align: center;
	border: 1px solid #6cc0e5;
}

/*
* footer
*/
footer {
	text-align: center;
	margin-top: 5%;
	padding: 3% 0;
	background-color: #48cfc8;
	width: 100%;
	height: 10%;
	border-top: 1px solid #48cfc8;
	color: #fff;
	text-align: center;
}