.circle2 {
	background-color: #fff;
	border: 3px #48cfc8 solid;
	width: 200px;
	height: 200px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
}

/*
* mypage
*/
#m_input {
	display: inline-block;
	width: 100px;
	background: #f8f8f8;
	outline: none;
	display: block;
	border: 1px solid #d9d9d9;
	margin: 0 0 20px;
	padding: 10px 15px;
	box-sizing: border-box;
	font-wieght: 400;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.all {
	margin-top: 80px;
}