<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.BucketTree.FileMessengerMapper">

	<insert id="insert">
	 INSERT INTO [FileMessenger] (messenger_idx, fileName, fileSize, fileTime,
		data) VALUES (#{messenger_idx}, #{fileName}, #{fileSize},GETDATE(), #{data}) </insert>

	<select id="selectByMessenger" resultType="kr.ac.BucketTree.vo.FileMessengerVO">
	 
	SELECT * FROM  [FileMessenger] where messenger_idx = #{messenger_idx}
	</select>
		
</mapper>