<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.BucketTree.FriendMapper">
	<!-- 메신저에서 쓸 친구 목록(새로운메세지 보낸 친구 제외) -->
	<select id="FriendByMessagener" resultType="kr.ac.BucketTree.vo.FriendVO">
		SELECT u.idx, u.name, u.email
		FROM Friend f join [User] u
		on f.toUser=u.idx
		where (f.fromUser=#{idx} and f.state=1) AND 
		( #{p.srchType}=0 OR (#{p.srchType}=1 AND CHARINDEX(#{p.srchText},u.name) =1))
		and u.idx not IN (SELECT u.idx FROM [USER] u   
		                 WHERE u.idx IN(
		                 SELECT from_user_idx
		                 FROM Messenger
		                 WHERE to_user_idx =#{idx} and type=1)
	                     )
	</select>
	<!--메세지=>새로운 메세지를 보낸 친구목록 -->
	<select id="FriendByNewMessagener" resultType="kr.ac.BucketTree.vo.FriendVO">
	SELECT  u.idx, u.name, u.email
    FROM [USER] u
    WHERE u.idx IN(
    SELECT from_user_idx
    FROM Messenger 
    WHERE to_user_idx =#{idx} and type=1
    )
	</select>
	
	<!-- 검색된 친구목록 -->
	<select id="FriendSearch" resultType="kr.ac.BucketTree.vo.FriendVO">
		SELECT* 
		FROM(
		SELECT * ,ROW_NUMBER() OVER(ORDER BY [User].name) as row
		FROM [User]
		where ((#{srchType}=1 AND name like #{srchText}) OR (#{srchType}=2 AND email = #{srchText}))
		)subquery
		<![CDATA[
		WHERE row > (#{currentPage} - 1) * #{pageSize} AND row <= #{currentPage} * #{pageSize} 
		]]>
		ORDER BY row
	</select>
	
	<select id="FriendAjaxSearch" resultType="kr.ac.BucketTree.vo.FriendVO">
		SELECT* 
		FROM(
		
		SELECT * ,ROW_NUMBER() OVER(ORDER BY [User].name) as row
		FROM [User]
		where ((#{srchType}=1 AND name like #{srchText}) OR (#{srchType}=2 AND email = #{srchText}))
		)subquery
		<![CDATA[
		WHERE row > (#{currentPage} - 1) * #{pageSize} AND row <= #{currentPage} * #{pageSize} 
		]]>
		ORDER BY row	
	</select>
</mapper>