<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- context-scan -->
	<context:component-scan base-package="kr.ac.BucketTree"
		use-default-filters="false">
		<context:include-filter expression="org.springframework.stereotype.Service"
			type="annotation" />
		<context:include-filter expression="org.springframework.stereotype.Repository"
			type="annotation" />
	</context:component-scan>

	<!--MyAuthenticationProvider -->
	<beans:bean id="MyAuthenticationProvider"
		class="kr.ac.BucketTree.util.MyAuthenticationProvider" />

	<http auto-config="true">
		<!--로그인 -->
		<!--login-page 로그인 페이지의 URL을 지정한다. -->
		<!--login-processing-url 로그인 폼에 아이디와 비밀번호를 입력하고 로그인 버튼을 눌렀을 때 요청이 전송될 URL을 지정한다. -->
		<!--authentication-failure-url 로그인이 실패했을 때 자동으로 넘어갈 URL을 지정한다. -->
		<!--default-target-url 로그인이 성공한 경우에 자동으로 넘어갈 URL을 지정한다. -->
		<form-login login-page="/" login-processing-url="/login_processing"
			authentication-failure-url="/?login_error" default-target-url="/bucketList/list"
			username-parameter="email" password-parameter="password" />
		<!--로그아웃 -->
		<!--logout-url 로그아웃을 하려고 할 때, 웹 서버에 요청할 URL을 지정한다. -->
		<!--logout-success-url Spring Security에 의해 자동으로 로그아웃 처리가 된 후 넘어갈 URL을 지정한다. -->
		<!--invalidate-session 로그아웃 되는 현재 사용자의 session에 들어있는 데이터도 전부 삭제하라는 설정이다. -->
		<logout logout-url="/logout" logout-success-url="/"
			invalidate-session="true" />
			
				<!--invalid-session-url​ : 세션이 끊겼을때 이동 할 페이지  -->
		<!--max-sessions="1" : 최대 허용 가능 세션 수  -->
		<!--expired-url="/e" :  중복 로그인이 일어났을 경우 이동 할 주소  -->	
		<!--(이때 중복 로그인이 일어날 경우 처음 로그인한 사용자는 접속이 끊기고 다음 request시 expired-url​에 지정한 주소로 이동된다. (invalid-session-url​이 있을경우 invalid-session-url​로 이동))  -->
		<session-management invalid-session-url="/">
        <concurrency-control max-sessions="1" expired-url="/"/>
        </session-management> 
	</http>
	
	
	
	<!--권한=>사용자가 입력한 인 아이디와 비밀번호를 데이터베이스에서 조회해서 검사하는 객체를 등록하는 태그이다. -->
	<authentication-manager>
		<authentication-provider ref="MyAuthenticationProvider" />
	</authentication-manager>

	<beans:bean id="webexpressionHandler"
		class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

</beans:beans>