<?xml version="1.0" encoding="UTF-8"?>
<!-- MyBatis 설정 기능활용 -->
<!-- 프레임워크별 MyBatis 재사용을 위함... -->
<!-- 그냥 일반 xml파일임... -->
<!-- MyBatis에 대한 dtd가 필요함 -->

<!-- dtd 로드 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-.config.dtd">
<!--추후 MyBatis사용에서 작성됨.. -->
<configuration>
	<!-- Mapper등등.. -->

</configuration>